@import 'src/styles/vars';

#cards {
  & .cards {
    margin-bottom: 1em;

    & .card {
      & .content {
        font-size: .9em;

        & .evolution {
          font-size: 1.1em;
          font-weight: 600;
          margin-left: .3em;
        }

        & .evolution-positive {
          color: green;
        }
        & .evolution-positive::before {
          content: '\002B';
        }

        & .evolution-negative {
          color: red;
        }

        & .header {
          font-family: Poppins;
          font-size: 1.5em;
          font-weight: 600;
        }

        & .countup {
          font-size: 2em;
          font-weight: 700;
        }
      }

      & .extra {
        font-size: .9em;
      }

    }
  }
}

@media (max-width: 768px) {
  #cards {
    & .cards {
      font-size: .9em;

      & .card {
      margin: 1em auto;
      }
    }
  }  
}
