@import 'src/styles/vars';

#cards {
  & .cards {
    margin-bottom: 1em;

    &-select {
      display: flex;
      justify-content: center;
      margin-bottom: 1em;
      align-items: center;

      & .dropdown {
        margin-left: .5em;
      }
    }

    & .card {
      & .content {
        font-size: .9em;

        & .evolution {
          font-size: 1.1em;
          font-weight: 600;
          margin-left: .3em;
        }

        & .evolution-positive {
          color: #48bb78;
        }
        & .evolution-positive::before {
          content: '\002B';
        }
        & .evolution-negative {
          color: #f56565;
        }
        & .evolution-negative, & .evolution-positive {
          & .countup {
            margin-right: .1em;
            font-size: 1.2em;
          }
        }


        & .header {
          font-family: Poppins;
          font-size: 1.5em;
          font-weight: 600;
        }

        & .countup {
          font-size: 2em;
          font-weight: 700;
        }
      }

      & .extra {
        font-size: .9em;
      }

    }
  }
}

@media (max-width: 768px) {
  #cards {
    & .cards {
      font-size: .9em;

      & .card {
      margin: 1em auto;
      }
    }
  }  
}
