@import 'src/styles/vars';

#page {
  & .page {
    height: 80vh;
    width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins';
    margin: 1em auto;

    &-select {
      margin: 2em 0;
    }

    &-header {
      font-size: 2em;
      font-weight: 600;
      margin: .5em 0;
    }
  }
}

@media (max-width: 768px) {
  #page {
    & .page {
      width: inherit;
    }
  }  
}
