@import 'src/styles/vars';

#page {
  & .page {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins';
    margin: 1em auto;

    &-select {
      margin: 2em 0;
    }

    &-header {
      font-size: 2em;
      font-weight: 600;
      margin: .5em 0;
    }
  }
}

@media (min-width: 992px) {
  #page {
    & .page {
      width: 910px;
    }
  }
}
